<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    .footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 66px;
		color: white;
		margin-top: 66px;
		background: rgba(1, 39, 70, 0.911);

	}


.nav_down{
		width:100%;
		background-color:#10063b !important;
		border-bottom:2px solid #f0f0f0;
	}
	.nav_down div{
		width:1200px;
		color:#fff;
		background-color:#09083a;
		font-family:calibri;
		padding:10px;
		text-align:center;
	}



  </style>
</head>

<footer>

<div class="footer">
  <div class="text">
      <h2>  About us</h2>
      <br><br>
      <p>24 Hour's sevices</p>
      <p>Top Doctors</p>
      <p>Best Care</p>
      <p>Patient</p>

  </div>
  <div class="text">
      <h2>Speciality</h2>
      <br><br>
      <p>Spin Surgery</p>
      <p>Knee Surgery</p>
      <p>Leg Surgery</p>
      <p>Eye Surgery</p>

  </div>
  <div class="text">
      <h2>Best Teams</h2>
      <br><br>
      <p>Doctor</p>
      <p>Nursing</p>
      <p>Staff</p>
      <p>Hospital</p>

  </div>
  <div class="text">
      <h2>Address</h2>
       <br><br>
     <p>Near IIUC</p>
      <p>Kumira 4318</p>
      <p>333-00222</p>
      <p>2222-4334</p>
  </div>


  <div class = "text">
   <center>  <h2 class = "footer-head">Make an appointment</h2>  </center>
   <br><br>
   <center>
    <p> <li>  8:00 AM - 11:00 AM   </li>
        <li>2:00 PM - 05:00 PM</li>
        <li>8:00 PM - 11:00 PM</li>
    <br></br>
        <span>		 Contact Us +01818999800 / 01 |  CIMH@hospital.com
        </span>
    </center>
        </p>
</div>


</div>


</body>
</html>
</footer>


<center>
<div class="nav_down">
    <div>
        &copy; CIMH Hospital, site designed & developed by Waziha Jannat
    </div>
</div>
</center>















